checkpoints/*
checkpoints_tmp/*
!checkpoints/retroxpert_uspto50k_untyped.mar
!checkpoints/transformer_50k_untyped.mar
!checkpoints/neuralsym_50k.mar
!checkpoints/gln_50k_untyped.mar

data/*
logs/*
results/*
