checkpoints/*
checkpoints_tmp/*
!checkpoints/retroxpert_uspto50k_untyped/*
!checkpoints/transformer_50k_untyped/*
!checkpoints/neuralsym_50k/*
!checkpoints/gln_schneider50k/*

data/*
logs/*
results/*
